body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition:.5s;
}

nav.black {
  background: rgba(5, 89, 128, 0.8);
  height: 60px;
  padding:0px 50px;
}

nav .logo {
  float:left;
}

nav .logo img {
  height: 60px;
  transition: .5s;
}

nav.black .logo img {
  height: 60px;
}

nav ul {
  float:right;
  margin:0;
  padding:0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 60px;
  color:#262626;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5;
}

nav.black ul li a {
  color:#fff;
  line-height: 60px;
}

nav ul li a.active,
nav ul li a:hover {
  color:#fff;
  background:rgb(36, 128, 170);
}

section.sec1 {
  width: 100%;
  height: 100vh;
  background: url('../image/Maija_Jesse.jpg');
  /* background: #000 url('../image/Maija_Jesse.jpg') no-repeat; */
  background-size: cover;
}

section.sec2 {
  width: 100%;
  height: 100vh;
  /* background: url('../image/Maija_Jesse.jpg'); */
  /* background: #000 url('../image/Maija_Jesse.jpg') no-repeat; */
  background-size: cover;
}

section.cont{
  padding: 90px;
  /* background: rgb(145, 145, 145); */
}
section.cont h1{
  margin: 0;
  padding: 0;
  font-size:2em;
}
section.cont p{
  margin: 20px 0 0;
  padding: 0;
  font-size:1.2em;
}

section.cont2{
  padding: 10px;
  
  /* background: rgb(153, 100, 100); */
}
section.cont2 h1{
  margin: 0;
  padding: 0;
  font-size:2em;
}
section.cont2 p{
  margin: 20px 0 0;
  padding: 0;
  font-size:1.2em;
}


section.cont3{
  background: url('../image/alho.jpg');
  width: 100%;
  height: 100vh;
  /* background: url('../image/Maija_Jesse.jpg'); */
  /* background: #000 url('../image/Maija_Jesse.jpg') no-repeat; */
  background-size: cover;

  padding: 0.1px;
  /* background: rgb(121, 12, 12); */
}
section.cont3 h1{
  margin: 0;
  padding: 0;
  font-size:2em;
}
section.cont3 p{
  margin: 20px 0 0;
  padding: 0;
  font-size:1.2em;
}

.publicacao {
  /* background-image: url(../image/patas.jpg); */
  background-color: white;
  width: 300px;
  height: 400px;
  position: absolute;
  border: 1px solid;
  border-color:rgb(224, 224, 224);
  border-radius: 10px;
  /* box-sizing: border-box; */
  /* border:none; */
  margin-bottom: 30px;
  margin-left: 15%;
  /* top: 100px; */
  font-family: 'Open-sans' , sans-serif;
    
}

.publicacaoc {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 400px;
  position: absolute;
  border: 1px solid;
  border-color:rgb(224, 224, 224);
  border-radius: 10px;
  /* box-sizing: border-box; */
  /* border:none; */
  margin-bottom: 30px;
  margin-left: 40%;
  /* top: -333px; */
  font-family: 'Open-sans' , sans-serif;  
}

.publicacaod {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 400px;
    position: relative;
    border: 1px solid;
    border-color:rgb(224, 224, 224);
    border-radius: 10px;
    /* box-sizing: border-box; */
    /* border:none; */
    margin-bottom: 30px;
    margin-left: 65%;
    /* top: -770px; */
    font-family: 'Open-sans' , sans-serif;
    
}

.fotoperfil {
    margin-left: 80px;
    width: 130px;
    height: 130px;
    background-image: linear-gradient(360deg,rgb(240, 9, 228),rgb(26, 119, 148),rgb(0, 207, 243));
    border-radius:100% ;
    position: absolute;
    margin-top: 30px;
    padding: 4px;
}

.fotoperfil > div {
    background-color: #fff;
    width: 130px;
    height: 130px;
    position: absolute;
    border-radius: 100%;
}




#loginimg{
  /* background: url(clinica.jpg); */
  position: absolute;
  height: 300px;
  width: 800px;
  margin-left: -150%;
  top: -50%;
}


.login-form{
  width: 330px;
  background: #fafafa;
  height: 400px;
  padding: 80px 40px;
  border-radius: 10px;
  position: relative;
  left: 30%;
  margin-top: 25%;
  transform: translate(-50%,-50%);
  -webkit-box-shadow: 0px 3px 15px 3px rgba(173, 173, 173, 0.75);
  -moz-box-shadow: 0px 3px 15px 3px rgba(173, 173, 173, 0.75);
  box-shadow: 0px 3px 15px 3px rgba(173, 173, 173, 0.75);
}

.login-form h1{
  text-align: center;
  margin-bottom: 60px;
  
  
}

.txtb{
  border-bottom: 2px solid #cecece ;
  position: relative;
  margin: 30px 0;
  
}

.txtb input{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
  
}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg,#3498db,#8e44ad);
  transition: .5s;
  top: 100%;
  left: 0px;
}


.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}

.logbtn{
  font-size: 20px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
  border-radius: 25px;
}

.logbtn:hover{
  background-position: right;
}

.bottom-text{
  margin-top: 120px;
  text-align: center;
  font-size: 13px;
}


#back{
    margin-left:-5px;
    margin-top:-50px;
    position: absolute;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }