*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

section.sec2 {
  width: 100%;
  height: 100vh;
  background: url('../image/what2.jpg');
  background-size: cover;
}

body {
  min-height: 100vh;  
}

.login-form {
  width: 380px;
  background: #fafafa;
  height: 550px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-box-shadow: 0px 3px 15px 3px rgba(173, 173, 173, 0.75);
  -moz-box-shadow: 0px 3px 15px 3px rgba(173, 173, 173, 0.75);
  box-shadow: 0px 3px 15px 3px rgba(173, 173, 173, 0.75);
}

.login-form h1 {
  text-align: center;
  margin-bottom: 10px;  
}

.txtb {
  border-bottom: 2px solid #cecece ;
  position: relative;
  margin: 25px 0;
}

.txtb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
  
}

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 10%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg,#3498db,#8e44ad);
  transition: .5s;
  top: 100%;
  left: 0px;
}

.focus + span::before {
  top: -5px;
}

.focus + span::after {
  width: 100%;
}

.logbtn {
  font-size: 20px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
  border-radius: 25px;
}

.logbtn:hover {
  background-position: right;
}

.bottom-text {
  margin-top: 120px;
  text-align: center;
  font-size: 13px;
}

#radiobtn {
  margin-left:5px;
  margin-top:-40px;
}